
            .right_menu03{position: fixed; top: 15px; right: 50px; width: 50px; height: 50px; padding-top: 15px; text-align: center; z-index: 9999999;}
            .right_menu03 .menu_span{position: absolute; top: 13px; right:10px; width: 45px; height: 45px; z-index: 999999; cursor: pointer;}
            .right_menu03 span{display: block; width: 30px; border-bottom: 2px solid #fff;  border-radius: 100px; transition: .5s; margin: 0 auto;}
            .right_menu03 span:nth-child(1){top: 10px;}
            .right_menu03 span:nth-child(2){top: 18px;}
            .right_menu03 span:nth-child(3){top: 26px;}
        
            .right_menu03 span:nth-child(1).on{transform: rotate(135deg); top: 20px; width: 50px;}
            .right_menu03 span:nth-child(2).on{opacity: 0;}
            .right_menu03 span:nth-child(3).on{transform: rotate(-135deg); top: 17px; width: 50px;}
        
        
            .main_menu{position: fixed; top: 0; right: 0; width: 100%; min-width: 1300px; height: 100px; background: rgba(0, 0, 0, 0); color: #fff;  transition: .3s; z-index: 999999;}
            .main_menu:hover{height: 307px;background: #0d1728;}
            .main_menu.scroll>ul{opacity: 1; height: 100px;}
            .main_menu:hover>ul{opacity: 1; height: 307px;}
            


            .main_menu.on{height: 307px;background: #0d1728;}
            .main_menu>ul{text-align:center; font-size: 0; position: absolute; right: 350px; opacity: 0; transition: .3s; height: 0; overflow: hidden; min-width: 800px;}
			.main_menu>ul.dealer{right: 550px; }
            .main_menu>ul>li{display:inline-block;  width:150px; height: 0;  transition:.3s; }
            .main_menu>ul>li>a{ display:block; font-size:1.4rem; line-height:102px; color:rgb(255, 255, 255); font-weight: 500; transition:.3s; z-index: 9999;}
            .main_menu>ul.on2{opacity: 1; height: 307px;}
        
            .main_menu>ul>li>ul { position:absolute; min-width:150px; overflow: hidden; height:200px; transition:.3s;}
            .main_menu>ul>li>ul>li { line-height:35px; text-align:center; top:10px;}
            .main_menu>ul>li>ul>li>a { font-size:1.2rem; color:rgb(167, 167, 167); border-bottom: 2px transparent solid;  transition: .3s;}
            .main_menu>ul>li:hover{height: 307px; background: #f8f8f8;}
            .main_menu:hover>ul>li>a { color:rgb(255, 255, 255); }
            .main_menu:hover>ul>li:hover>a { color:#0a264d; font-weight: 600;}
            .main_menu>ul>li:hover>ul>li>a{color: #000;}
            .main_menu>ul>li>ul>li:hover a { border-bottom: 2px #0a264d solid; }

            .main_menu h1 { position:absolute; top:27px; left: 50px; z-index: 1;}
            .main_menu h1 a { display:block; width: 200px;; height:45px; text-indent:-9999px; background: url(../images/logo.png) no-repeat;}

            .main_menu_bg{position: fixed; top: 0; width: 100%; height: 100px; background:rgba(0, 0, 0, 0);z-index: 99999; transition: .3s;}
            .main_menu_bg.scroll{background: #0d17286e; }
        
            /* .header_line{position:absolute; top:101px;left:0;width:100%;border-bottom:1px solid rgb(255, 255, 255); opacity: .2;} */
            .top_phone{display: inline-block; position:absolute; width:190px; line-height: 95px; right: 130px; }
            .top_phone.dealer{width:100%; text-align: right;}
            .top_phone .part {font-size:1.5rem; font-weight: 600;}
            .top_phone span {font-size:2rem;color:#fff; font-weight: 700;}
            #top_phone span:before{content: ""; display: inline-block; width: 24px; height: 24px; background: url(../images/call.png) no-repeat; margin-right: 5px;}



        .footer{position: relative; width:100%; height: 400px; background-color: #0d1728; color: #b7b7b7; font-size: .97rem; line-height: 20px; overflow: hidden; text-align: center;}
        .footer_t>div>b{font-weight: 400;}
        .footer_t>div:nth-child(2){text-align: left; left: 325px;}
        .footer_t>img{position: absolute; left: 90px; top: 50px; opacity: .9;}
        .footer .footer_t{width:1300px; margin: 0 auto; top:35px; font-weight: 400; line-height: 1.4;}
        .footer #bt_top { position:absolute; top:0; right:50px; width:50px; height:50px; border-radius:20%; text-align:center; z-index:20;  border: 2px solid rgb(184, 199, 202);}
        .footer #bt_top span {top:15px; font-size:.9rem; color:rgb(184, 199, 202); font-weight: 700;}
        .footer .copyright{margin-top:15px;}
        .footer .footercopytxt a {color:#e6e1dc;font-weight:700;display:inline-block;padding-bottom:2px;}
        .footer .yourbiz{margin-top: 15px;}

        .footer .info{ color: #b7b7b7; border-bottom: 1px solid #ffffff26;}
        .footer .info ul {width:1300px;margin:0 auto;}
        .footer .info ul:after {clear: both; display:block; content:""}
        .footer .info ul li {display:inline-block;font-size:1.3rem;font-weight:400;line-height:110px;letter-spacing:-0.02em;}
        .footer .info ul li span {display:inline-block;line-height:88px;padding-right:20px;font-weight:300; font-size: 1.1rem;}
        .footer .info ul li + li {padding-left:150px;}
        .footer .info ul li img {vertical-align:middle;}


        .quick{position: fixed; bottom: 0; right: 0; z-index: 999; transition: .8s;}
        .quick ul{width: 310px; display: flex; background: #0a264d;}
        .quick ul li{width: 100%; height: 75px; padding-top: 15px;}
        .quick ul li img{display: block; margin: 0 auto; margin-bottom: 6px;}
        .quick ul li a{display: block; width: 100%; height: 100%; text-align: center; font-size: 1.1rem; font-weight: 600; color: #fff; letter-spacing: -0.02em;}
        .quick ul li:nth-child(1){background: #f8f8f8;}
        .quick ul li:nth-child(1) a{color: #0a264d;}
        .quick ul li:nth-child(2){background: #0052A4;}
        .quick ul li:nth-child(3){background: #0a264d;}


         /*서브페이지*/


         /*서브상단메뉴
        #lnb{position: relative; top:-60px; width:100%; min-width: 1300px;  box-sizing: border-box; z-index: 100;}
        #lnb .lnb_area{position: relative; overflow: hidden; }
        #lnb .lnb_area .inner{position: relative; margin: 0 auto; width:100%; text-align: center; font-size: 0;}
        #lnb .lnb_area .inner>ul>li{position: relative; display:inline-block; border-right: 1px solid #5c6572; background-color: #020f20; line-height: 60px; font-size: 1.3rem; width: 350px; opacity: .8; }
        #lnb .lnb_area .inner>ul>li:last-child{border-right: 0;}
        #lnb .lnb_area .inner>ul>li>a{display:inline-block;  min-width: 240px; color: #fff; width: 100%;}
        #lnb .lnb_area .inner>ul>li.active {background:#0a264d; opacity: 1;}
        #lnb .lnb_area .inner>ul>li.active a{color:#fff; font-weight: 700;}

        */


        /*서브상단라인*/
        #lnb{width:100%; min-width: 1300px; z-index: 100;}
        #lnb .lnb_area{overflow: hidden;}
        #lnb .lnb_area ul{width:100%;display: flex;}
        #lnb .lnb_area>ul>li:nth-child(1){background-color: #6b6b6b; height: 7px; width: 50%;}
        #lnb .lnb_area>ul>li:nth-child(2){background-color: #0052A4; height: 7px; width: 35%;}
        #lnb .lnb_area>ul>li:nth-child(3){background-color: #0a264d; height: 7px; width: 15%;}

      
        /*공통*/
        .sub_inner{width:1300px; margin: 0 auto; text-align: center;}

        #cont{width:100%; min-width: 1300px; background-color: #fff;}
        .cont_line{width:70px; border-top: 3px solid rgb(31, 31, 31); margin: 0 auto; margin-bottom: 20px;}
        .txt_01{width:100%; text-align: center; margin-top:100px;}
        .txt_01>b{font-size: 2.5rem; color: rgb(31, 31, 31); letter-spacing: -.1rem;}
        .txt_01>p{font-size: 1.6rem; color: #7e7e7e;}

        .guide_tx{text-align: center; font-size: .9rem; color: #bbb; margin-top: 50px;}
        .guide_tx2{text-align: left; font-size: .9rem; color: #bbb; margin-top: 50px;}
        .guide_tx_cg{position: absolute; bottom: 15px; left: 15px; font-size: .9rem; color: #bbb;}

        /*사업개요*/
        #cont_01{width:100%; overflow: hidden; }
        #cont_01 .sub_inner img{width: 1300px; margin-top: 70px;}
        #cont_01 .sub_inner table {border-spacing:0;width:90%;overflow:hidden;  margin: 0 auto; margin-top: 50px;}
        #cont_01 .sub_inner table th,
        #cont_01 .sub_inner table td {padding:15px;font-size:1.4rem; color: #7c7c7c; line-height:1.7; border-bottom:1px solid #dfdfdf;letter-spacing:-0.05em;}
        #cont_01 .sub_inner table td{left:20px;}
        #cont_01 .sub_inner table th {width:100px; color:#2b2b2b;text-align:center;font-weight:400; border-bottom: #0a264d 2px solid;}
        #cont_01 .sub_inner table tr:last-child th ,
        #cont_01 .sub_inner table tr:last-child td {border:0;}


        /*브랜드스토리*/
        #cont_02{width: 100%;}
        #cont_02 .sub_inner>div:nth-child(1){width: 100%; height: 550px; background: url(/images/cont_02_img1.jpg) center / cover no-repeat; margin-top: 70px;}

        #cont_02 .sub_inner>div:nth-child(2) img{margin-top: 70px;}
        #cont_02 .sub_inner>div:nth-child(2)>div>b{font-size: 2rem; color: #0a264d; display: block; margin-top: 50px;}
        #cont_02 .sub_inner>div:nth-child(2) p{display: flex; justify-content: center; align-items: flex-end; font-size: 3.5rem; font-weight: 600; color: #0a264d; line-height: 1.1; margin-top: 10px;
                                                letter-spacing: -.1rem; word-spacing: -.4rem;}
        #cont_02 .sub_inner>div:nth-child(2) p:before{display: block; content: "["; font-size: 8rem; font-weight: 500; margin-right: 20px;}
        #cont_02 .sub_inner>div:nth-child(2) p:after{display: block; content: "]"; font-size: 8rem; font-weight: 500; margin-left: 20px;}
        #cont_02 .sub_inner>div:nth-child(2) span{display: block; margin-top: 50px; margin-bottom: 50px; font-size: 1.2rem; line-height: 1.15; color: #858585;}
        #cont_02 .sub_inner>div:nth-child(2) span b{display: block; margin-top: 10px; color: #000; font-size: 1.6rem;}




        /*오시는길*/
        #cont_03{width: 100%;}
        #cont_03 .sub_inner{text-align: left;}
        #cont_03 .main5_map{width:1300px; margin: 0 auto; margin-top: 80px;}
        #cont_03 .main5_map_1{width:500px; display: inline-block;padding: 0 65px;}
        #cont_03 .main5_map_1 .map_1{width:500px; height:400px; border: 1px rgb(223, 223, 223) solid;}
        #cont_03 .main5_map_1 .tx{text-align: left; display: inline-block; top:30px;}
        #cont_03 .main5_map_1 .tx b{color: #0a264d; font-size: 1.5rem; letter-spacing:-0.05em; display: block; line-height: 10px;}
        #cont_03 .main5_map_1 .tx p{color: #7a7a7a; font-size: 1.2rem; letter-spacing:-0.05em;}
        #cont_03 .main5_map_1 .tx > div:nth-child(2){width:60px;height:2px; border-bottom: #0a264d 2px solid; display: inline-block; }
        #cont_03 .main5_map_1 .tx > div:nth-child(3){width:240px;height:2px; border-bottom: #a3a3a3 1px solid; display: inline-block; left:-2px;}
        #cont_03 .main5_map_1 .btn{width:150px; display: inline-block; top:10px; left:98px;}
        #cont_03 .main5_map_1 .btn img{margin-top:10px}


        /*상품프리미엄*/
        #cont_04{width: 100%;}
        #cont_04 ul{width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 50px;}
        #cont_04 ul li{width: 48%; height: 500px; margin-top: 50px;}
        #cont_04 ul li:nth-child(1)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img1.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(2)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img2.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(3)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img3.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(4)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img4.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(5)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img5.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(6)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img6.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(7)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img7.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(8)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img8.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(9)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img9.jpg) center / cover no-repeat;}
        #cont_04 ul li:nth-child(10)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_04_img10.jpg) center / cover no-repeat;}

        #cont_04 ul li:nth-child(10)>div:nth-child(2)>div:nth-child(2){top: 6px;}
        #cont_04 ul li:nth-child(6)>div:nth-child(2)>div:nth-child(2){top: 6px;}

        #cont_04 ul li>div:nth-child(2){text-align: left; margin-top: 15px;}
        #cont_04 ul li>div:nth-child(2)>div:nth-child(1){position: absolute; text-align: center; left: 0; top: 0; width: 90px; height: 90px; background: #0052A4;}
        #cont_04 ul li>div:nth-child(2)>div:nth-child(1) p{font-size: .9rem; color: #fff; opacity: .8; margin-top: 15px;}
        #cont_04 ul li>div:nth-child(2)>div:nth-child(1) b{font-size: 3rem; color: #fff; top: -3px;}

        #cont_04 ul li>div:nth-child(2)>div:nth-child(2){margin-left: 110px; line-height: 1.2; letter-spacing: -.1rem; top: 15px;}
        #cont_04 ul li>div:nth-child(2)>div:nth-child(2) p{font-size: 1.5rem;}
        #cont_04 ul li>div:nth-child(2)>div:nth-child(2) b{font-size: 2rem; color: #000; font-weight: 700;}
        #cont_04 ul li>div:nth-child(2)>div:nth-child(2) b span{font-size: 1.2rem; font-weight: 400; color: #929292;}

        /*이미지컷*/
        #cont_04 ul li>div:nth-child(3){position: absolute; right: 10px; top: 323px; color: #fff; opacity: .7; font-size: 1rem;}



        /*세제혜택*/
        #cont_05{width: 100%;}
        #cont_05 .sub_inner>div:nth-child(1){width: 100%; height: 400px; background: url(../images/cont_05_img1.jpg) center / cover no-repeat; margin-top: 80px;}
        #cont_05 ul{width: 100%; display: flex; justify-content: space-between; margin-top: 70px;}
        #cont_05 ul li{width: 33.3%;  border-right: solid 1px #dfdfdf;}
        #cont_05 ul li:last-child{border-right: 0px;}

        #cont_05 ul li>div p{font-size: 1.8rem; font-weight: 700; color: #000;}
        #cont_05 ul li>div p span{font-size: 3rem; font-weight: 700; letter-spacing: -.1rem;}
        #cont_05 ul li>div>span{display: block; font-size: 1.1rem; line-height: 1.2; margin-top: 10px; word-spacing: -.1rem; color: #bdbdbd;}





        /*환경 프리미엄 아이콘버전*/
        /* #cont_06{width: 100%;}
        #cont_06 ul{width: 100%; display: flex; flex-wrap: wrap; justify-content: flex-start; margin-top: 85px;}
        #cont_06 ul li{width: 24%; height: 235px; margin-top: 50px; margin-left: 7px; margin-right: 6px;}
        #cont_06 ul li>img{opacity: .8;}

        #cont_06 ul li>div:nth-child(2)>div:nth-child(1){text-align: center; left: 0; top: 0; width: 100%; height: 26px; background: #0052A4; margin-bottom: 20px; margin-top: 10px; display: flex; justify-content: center; align-items: center;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(1) p{font-size: .9rem; color: #fff; opacity: .8; margin-right: 3px;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(1) b{font-size: 1.2rem; color: #fff;}

        #cont_06 ul li>div:nth-child(2)>div:nth-child(2){line-height: 1.2; letter-spacing: -.1rem;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(2)>p{font-size: 1.2rem;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(2)>b{font-size: 1.5rem; color: #000; font-weight: 700;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(2)>b span{display: block; font-size: 1.2rem; opacity: .7; font-weight: 400;} */
        /*환경프리미엄*/
        #cont_06{width: 100%;}
        #cont_06 ul{width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 50px;}
        #cont_06 ul li{width: 48%; height: 500px; margin-top: 50px;}
        #cont_06 ul li:nth-child(1)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img1.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(2)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img2.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(3)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img3.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(4)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img4.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(5)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img5.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(6)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img6.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(7)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img7.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(8)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img8.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(9)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img9.jpg) center / cover no-repeat;}
        #cont_06 ul li:nth-child(10)>div:nth-child(1){width: 100%; height: 350px; background: url(../images/cont_06_img10.jpg) center / cover no-repeat;}

        #cont_06 ul li:nth-child(7)>div:nth-child(2)>div:nth-child(2){top: 6px;}

        #cont_06 ul li>div:nth-child(2){text-align: left; margin-top: 15px;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(1){position: absolute; text-align: center; left: 0; top: 0; width: 90px; height: 90px; background: #0052A4;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(1) p{font-size: .9rem; color: #fff; opacity: .8; margin-top: 15px;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(1) b{font-size: 3rem; color: #fff; top: -3px;}

        #cont_06 ul li>div:nth-child(2)>div:nth-child(2){margin-left: 110px; line-height: 1.2; letter-spacing: -.1rem; top: 15px;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(2) p{font-size: 1.5rem;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(2) b{font-size: 2rem; color: #000; font-weight: 700;}
        #cont_06 ul li>div:nth-child(2)>div:nth-child(2) b span{font-size: 1.2rem; font-weight: 400; color: #929292;}

        /*이미지컷*/
        #cont_06 ul li>div:nth-child(3){position: absolute; right: 10px; top: 323px; color: #fff; opacity: .7; font-size: 1rem;}



        /*교통환경*/
        #cont_07{width: 100%; text-align: center;}
        #cont_07 .sub_inner>p{font-size: 1.5rem; color: #2b2b2b; margin-top: 30px; line-height: 1.1;}
        #cont_07 .sub_inner>ul{display: flex; margin-top: 100px;}
        #cont_07 .sub_inner>ul>li{width: 33.3%;}
        #cont_07 .sub_inner>ul>li>div{width: 90%; height: 200px; margin: 0 auto;}
        #cont_07 .sub_inner>ul>li:nth-child(1)>div{background: url(/images/cont_07_img2.jpg);}
        #cont_07 .sub_inner>ul>li:nth-child(2)>div{background: url(/images/cont_07_img3.jpg);}
        #cont_07 .sub_inner>ul>li:nth-child(3)>div{background: url(/images/cont_07_img4.jpg);}
        #cont_07 .sub_inner>ul>li>p{font-size: 2rem; font-weight: 600; margin-top: 10px; color: #000;}
        #cont_07 .sub_inner>ul>li>span{font-size: 1.2rem; font-weight: 400;}

        /*이미지컷*/
        #cont_07 .sub_inner>ul>li>div>p{position: absolute; right: 10px; top: 175px; color: #fff; opacity: .7; font-size: 1rem;}




        /*미래비전*/
        #cont_08{width: 100%; text-align: center;}
        #cont_08 .sub_inner>div:nth-child(1){width: 100%; height: 650px; background: url(/images/cont_08_img1.jpg); margin-top: 70px;}
        #cont_08 .sub_inner>p{font-size: 1.5rem; color: #2b2b2b; margin-top: 30px; line-height: 1.1;}

        /*360vr*/
        #cont_09{width: 100%;}
        #cont_09 p{height: 300px; margin-top: 150px; font-size: 3rem; color: #c0c0c0;}

        #cont_09 .cont_09_slider{width: 1300px; height: 780px; font-size: 0; margin: 0 auto; margin-top: 50px;}
        #cont_09 .cont_09_slider div>div>div>div>li{width: 100%; height: 700px;}
        #cont_09 .cont_09_slider div>div>div>div>li>div{width: 100%; height: 700px; margin-top: 40px;}
        #cont_09 .cont_09_slider .cont_09_1>div{background: url(/images/unit_img1.jpg) center / cover no-repeat;}
        #cont_09 .cont_09_slider .cont_09_2>div{background: url(/images/unit_img2.jpg) center / cover no-repeat;}
        #cont_09 .cont_09_slider .cont_09_3>div{background: url(/images/unit_img3.jpg) center / cover no-repeat;}
        #cont_09 .cont_09_slider .cont_09_4>div{background: url(/images/unit_img4.jpg) center / cover no-repeat;}
        #cont_09 .cont_09_slider .cont_09_5>div{background: url(/images/unit_img5.jpg) center / cover no-repeat;}
        #cont_09 .cont_09_slider .cont_09_6>div{background: url(/images/unit_img6.jpg) center / cover no-repeat;}

        

        /*상품cg*/
        #cont_14{width: 100%;}
        #cont_14 p{height: 300px; margin-top: 150px; font-size: 3rem; color: #c0c0c0;}


        /*unit*/
        #cont_10{width: 100%;}
        #cont_10 .cont_10_slider{width: 1300px; height: 780px; font-size: 0; margin: 0 auto; margin-top: 50px;}
        #cont_10 .cont_10_slider div>li>div{width: 100%; height: 650px; margin-top: 40px;}
        #cont_10 .cont_10_slider .cont_10_1>div{background: url(/images/cont_10_img1.jpg) center / cover no-repeat;}
        #cont_10 .cont_10_slider .cont_10_2>div{background: url(/images/cont_10_img2.jpg) center / cover no-repeat;}
        #cont_10 .cont_10_slider .cont_10_3>div{background: url(/images/cont_10_img3.jpg) center / cover no-repeat;}
        #cont_10 .cont_10_slider .cont_10_4>div{background: url(/images/cont_10_img4.jpg) center / cover no-repeat;}

        #cont_10 .cont_10_slider .slick-dots{ width: 100%; left: 0;  bottom:0px; top: auto; animation: both;}
        #cont_10 .cont_10_slider .slick-dots li{width: 140px; height: 45px; font-size: 1.5rem; font-weight: 300; color: #000;  text-align: center; line-height: 1.2; border-bottom: 2px solid rgba(161, 161, 161, 0.3); margin:0px;}
        #cont_10 .cont_10_slider .slick-dots li p{color: #4b4b4b;font-size: 1rem;}
        #cont_10 .cont_10_slider .slick-dots li.slick-active{border-bottom: #313131 2px solid; font-weight: 600;}

        
        /*홍보영상*/
        #cont_11 .sub_inner>div{margin-top: 50px;}
        #cont_11 .sub_inner > ul{width:92.3%; margin: 0 auto; display: flex;}
        #cont_11 .sub_inner > ul li{width: calc(100%/3); height: 55px; background: rgb(228, 228, 228); border-right: 1px solid #d3d3d3;}
        #cont_11 .sub_inner > ul li:last-child{border-right: 0;}
        #cont_11 .sub_inner > ul li a{width: 100%; height: 40px; display: block; font-size: 1.3rem; color: #000; padding-top: 15px;}
        #cont_11 .sub_inner > ul li.active{background: #0a264d;}
        #cont_11 .sub_inner > ul li.active a{color: #fff; font-weight: 600;}


        /*언론보도*/
        #cont_12 .sub_inner ul{display: flex; flex-wrap: wrap;  margin-bottom: 50px;}
        #cont_12 .sub_inner ul>a{width: 420px; height: 210px;margin: 50px 6px 0px 6px;}
        #cont_12 .sub_inner ul li{width: 420px; height: 210px; border: 1px solid rgb(227, 227, 227); text-align: left; line-height: 1;  cursor: pointer;}
        #cont_12 .sub_inner ul li b{font-size: 1.7rem; color: #000; display: block; margin-top: 28px; margin-left: 20px; word-spacing: -.2rem;}
        #cont_12 .sub_inner ul li p{font-size: 1.1rem; color: rgb(143, 143, 143); margin-top: 10px; margin-left: 20px; line-height: 1.1;}
        #cont_12 .sub_inner ul li>div{position: absolute; display: flex; align-items: center; justify-content: space-between; bottom: 0; background: rgb(235, 235, 235); width: 100%; height: 40px;}
        #cont_12 .sub_inner ul li>div span{margin: 20px; font-size: .9rem; color: #000;}
	    	#cont_12 .sub_inner ul li.date_none{width: 100%; border:0;text-align:center;}
        #cont_12 .guide-txt{width: 1300px; margin: 0 auto; height: 50px; margin-bottom: 100px;}
        #cont_12 .guide-txt p{position: absolute; left: 0;font-size: 1rem; color: rgb(168, 168, 168);}
        /* paginate */
        .paginate {margin-top:40px;margin-bottom:10px;font-size:0;text-align:center;}
        .paginate a {display:inline-block;position:relative;width: 32px;height: 32px;box-sizing:border-box;font-size:16px;line-height: 32px;text-align:center;vertical-align:top;transition:all 0.4s;}
        .paginate a.on {background:#0d1728;width:32px;height:32px;color:#fff;font-weight:700;border-radius:50%;}
        .paginate a.next {width: 35px;height: 35px;margin-left:15px;background:url(/images/icon_next.png) center no-repeat;background-size: 31px 14px;overflow:hidden;text-indent:-999999px;}
        .paginate a.pre {width: 35px;height: 35px;margin-right:15px;background:url(/images/icon_prev.png) center no-repeat;background-size: 31px 14px;overflow:hidden;text-indent:-999999px;}


        /*관심고객등록*/
        #cont_13{width: 100%; height: 1100px;}
        #cont_13 .sub_inner{text-align: left;}
        .agree-txt {position:relative; margin: 80px 0 30px;}
        .agree-txt h2, .per-info h2  {display:block;position:relative;line-height:37px;font-weight:500;padding-bottom:10px;letter-spacing:-2px;font-size:28px;color:#333;}
        .agree-txt .txt_area {position:relative;display:block;border:1px solid rgb(201, 201, 201);font-size:16px;color:#666;padding:20px 10px;}
        .agree-txt .txt_area .tbox {position:relative;height:176px;overflow-y:auto;letter-spacing:-0.5px;padding:0 10px;}
        .agree-txt .txt_area h1 {display:none;}
        .agree-txt .txt_area dl dt {display:block;text-align:left;font-size:20px;letter-spacing:-1px;font-weight:300;color:#0a264d;padding:20px 0 10px;font-weight:400;}
        .agree-txt .txt_area dd ul {padding-top:10px;}
        .agree-txt .txt_area dd ul li {display:block;position:relative;line-height:1.3;padding:5px 0 5px 20px;}
        .agree-txt .txt_area dd ul li:before {content:'-';display:block;position:absolute;left:0;top:5px;}
        .agree-txt .txt_area dd p {font-weight:500;padding:10px 0 5px;}
        .agree-txt .agree-box {position:relative;padding:20px 0;text-align:center;}
        .agree-txt .agree-box span {display:inline-block;position:relative;padding-right:30px;}
        .agree-txt .agree-box input[type="radio"] {display:none;}
        .agree-txt .agree-box input[type="radio"] + label {position:relative;padding-left:32px;font-size:18px;letter-spacing:-1px;}
        .agree-txt .agree-box input[type="radio"] + label:before {content:' '; display:block; width:22px; height:22px; position:absolute;left:0;top:-4px;border:2px solid #ddd;border-radius:50%; }
        .agree-txt .agree-box input[type="radio"]:checked + label:before {border:2px solid #0a264d;z-index:1;}
        .agree-txt .agree-box input[type="radio"]:checked + label:after {content:' '; display:block;left: 8px;top: 4px;background:#0a264d;width:10px;height:10px;border-radius:50%; position: absolute;}
        .agree-txt .agree-box .bt-agree-info {display:block;position:absolute;left:504px;top:13px;border-bottom:1px solid #0a264d;padding-bottom:10px;}
        .agree-txt .agree-box .bt-agree-info span {color:#0a264d;font-size:18px;letter-spacing:-1px;}
        .per-info  {margin-top: 80px;}
        .per-info > p {display:block;position:absolute;right:0;top:20px;font-size:14px;}
        .per-info > p > span {color:#a3131b;font-weight:700;}
        .per-info table {border-top:2px solid #0a264d;width:100%;border-collapse:collapse;border-spacing:0; }
        .per-info table th, 
        .per-info table td {border-bottom:1px solid #ddd;font-size:18px;color:#333;letter-spacing:-1px;font-weight:300;padding:20px;}
        .per-info table tr:last-child th, 
        .per-info table tr:last-child td {border-bottom:1px solid #0a264d;}
        .per-info table tr:last-child th {padding-left:40px;}`
        .per-info table th {background:#f5f5f5;font-weight:400;text-align:left;}
        .per-info table th span {display:inline-block;color:#a3131b;font-weight:500;padding-right:7px;padding-left:10px;}

        .per-info table td span {display:inline-block;font-size:14px; font-weight:400;padding-left:5px;}
        .per-info input[type="text"] {display:inline-block;line-height:44px;padding:0 10px;width:275px;border:1px solid #ccc;vertical-align:middle;outline: none;box-sizing:border-box;}
        .per-info input[type="text"]:focus{ border:1px solid #ae746e;}
        .per-info .tx {position:relative;padding-top:10px;}
        .per-info .tx ul li {display:block;position:relative;padding-left:20px;font-size:14px;color:#666;}
        .per-info .tx ul li:before {content:'※';position:absolute;left:0;top:0;}
        .per-info .bt-send {display:block;margin:60px auto 100px;width:400px;height:66px;line-height:66px;color:#fff;text-align:center;background:#0a264d;font-size:22px;font-weight:700;}



        /*상품CG*/
        #cont_14{width: 100%;}
        #cont_14 .cont_14_slider{width: 1300px; height: 780px; font-size: 0; margin: 0 auto; margin-top: 50px;}
        #cont_14 .cont_14_slider div>li>div{width: 100%; height: 650px; margin-top: 40px;}
        #cont_14 .cont_14_slider .cont_14_1>div{background: url(/images/cont_14_img1.jpg) center / cover no-repeat;}
        #cont_14 .cont_14_slider .cont_14_2>div{background: url(/images/cont_14_img2.jpg) center / cover no-repeat;}
        #cont_14 .cont_14_slider .cont_14_3>div{background: url(/images/cont_14_img3.jpg) center / cover no-repeat;}
        #cont_14 .cont_14_slider .cont_14_4>div{background: url(/images/cont_14_img4.jpg) center / cover no-repeat;}
        #cont_14 .cont_14_slider .cont_14_5>div{background: url(/images/cont_14_img5.jpg) center / cover no-repeat;}

        #cont_14 .cont_14_slider .slick-dots{ width: 100%; left: 0;  bottom:0px; top: auto; animation: both;}
        #cont_14 .cont_14_slider .slick-dots li{width: 140px; height: 45px; font-size: 1.5rem; font-weight: 300; color: #000;  text-align: center; line-height: 1.2; border-bottom: 2px solid rgba(161, 161, 161, 0.3); margin:0px;}
        #cont_14 .cont_14_slider .slick-dots li p{color: #4b4b4b;font-size: 1rem;}
        #cont_14 .cont_14_slider .slick-dots li.slick-active{border-bottom: #313131 2px solid; font-weight: 600;}





      #sub_top>div:nth-child(1){position: absolute; left: 0; top: 0; height: 300px; background: rgba(0,0,0,.6); animation: sub_top 1.2s ease both; z-index: 98; left: 50%; transform: translateX(-50%);}
      @keyframes sub_top {
        0%{opacity: 1; width: 0;}
        100%{opacity: 0; width: 100%;}
      }


      #sub_top .sub_top01_bg{width: 100%; height:300px; background: url(../images/sub_top4.jpg) center / cover no-repeat; overflow: hidden;}
      #sub_top .sub_top02_bg{width: 100%; height:300px; background: url(../images/sub_top4.jpg) center / cover no-repeat; overflow: hidden;}
      #sub_top .sub_top03_bg{width: 100%; height:300px; background: url(../images/sub_top4.jpg) center / cover no-repeat; overflow: hidden;}
      #sub_top .sub_top04_bg{width: 100%; height:300px; background: url(../images/sub_top4.jpg) center / cover no-repeat; overflow: hidden;}
      #sub_top .sub_top05_bg{width: 100%; height:300px; background: url(../images/sub_top4.jpg) center / cover no-repeat; overflow: hidden;}
      #sub_top .sub_top06_bg{width: 100%; height:300px; background: url(../images/sub_top4.jpg) center / cover no-repeat; overflow: hidden;}





/* 하단 관심등록*/
.registration  {position:relative;text-align:left;height:147px;overflow:hidden; box-sizing:border-box;background:#fff;border-top:1px solid #dfdfdf;z-index:8; margin-top: 120px;}
.registration .inner {position:relative;width:1300px;margin: 40px auto 0;}
.registration h4 {display:block;position:absolute;left:0; color:#0a264d;font-size:1.8rem;font-weight:500;line-height:2.5; letter-spacing:-.1rem; padding-left: 40px;}
.registration h4:before {content:'';position:absolute;top:12px;left:0px;width:35px;height:35px;background-image:url(/images/quick1.png);background-size:100%;}
.registration ul {position:relative;margin-left:200px;text-align:left;letter-spacing:-.1rem;}
.registration ul:after {clear: both; display:block; content:""}
.registration ul li {position:relative;vertical-align:middle; display:inline-block; padding-right: 30px; font-size:1.3rem;line-height:2.5;}
.registration ul li label {display:inline-block;font-size:1.3rem;font-weight:400;padding-right:10px;line-height:3.4; cursor:default;}
.registration ul li input[type="text"] {background:#eee;border:none;font-size:1.5rem; }
.registration ul li:nth-child(1) input[type="text"] {width:220px; height: 50px;}
.registration ul li:nth-child(2) input[type="text"] {width:230px; height: 50px;}
.registration ul li input[type="checkbox"] {display:none;}
.registration ul li input[type="checkbox"] + label {padding-left:26px;text-indent:-999999px;font-size:0;}
.registration ul li input[type="checkbox"] + label:before { content:' '; display:block; width:20px; height:20px; position:absolute;left:10px;top:-14px;background:url(/images/rgs-check.png); }
.registration ul li input[type="checkbox"]:checked + label:before {background:url(/images/rgs-check-on.png) no-repeat 0 0px;z-index:1;}
.registration ul li .privacy {display:inlin-block;padding:5px 0;border-bottom:1px solid #0a264d;color:#0a264d;font-weight:400;}
.registration ul li.bts-r  {position:absolute;right:0;padding:0;}
.registration ul li .bt-submit {display:block;padding:0 50px;background:#0a264d; }
.registration ul li .bt-submit span {position:relative;color:#fff;font-weight:500; font-size:1.6rem; text-align: center;}



          /*********************************** popup ***************************************/

html.on { height:100%; overflow:hidden;}
.pu_bg { position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.8); z-index:9999999; display:none;}

/*개인정보약관*/
.pop-privacy {position:fixed;left:50%;top:50%;transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:1000px;height:100%; background:#fff; box-sizing:border-box;z-index:9999999;padding:20px;display:none; }

.pop-privacy .bt_close { position:absolute; display:block;top:0px;left:50%; margin-left:510px;width:52px; height:53px; background:url(/images/bt_close.png) no-repeat 0 0;background-size:100%; text-indent:-9999px; }

.pop-privacy  .pu_txt_area {overflow-y:auto;height:100%;padding:20px;font-size:16px;letter-spacing:-0.5px;}

.pop-privacy .pu_txt_area h1 {display:block;text-align:center;font-size:40px;letter-spacing:-3px;font-weight:500;line-height:2;}
.pop-privacy .pu_txt_area dl dt {display:block;text-align:left;font-size:20px;letter-spacing:-1px;font-weight:300;color:#0a264d;padding:20px 0 10px;font-weight:400;}
.pop-privacy .pu_txt_area dd ul {padding-top:10px;}
.pop-privacy .pu_txt_area dd ul li {display:block;position:relative;line-height:1.3;padding:5px 0 5px 20px;}
.pop-privacy .pu_txt_area dd ul li:before {content:'-';display:block;position:absolute;left:0;top:5px;}
.pop-privacy .pu_txt_area dd p {font-weight:500;padding:10px 0 5px;}



.pr5 {padding-right:5px;}


@media (max-width: 1600px){
  html{font-size: 12px;}
  .quick ul{width: 270px;}
  .quick ul li{height: 70px; padding-top: 10px;}
  .quick ul li img{transform: scale(.8);}
  .registration .inner{width: 1240px;}
  .footer #bt_top{width: 46px; height: 46px; right: 100px;}
  

  .main_menu h1 a {width: 175px; height:39px; background-size: cover; top: 5px;}
  .main_menu>ul.dealer{right: 450px; }
  .main_menu>ul>li {width:120px;}
  .main_menu>ul>li>ul {min-width:120px;}
  }
